<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Login.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
    <applicationSettings>
        <Login.Properties.Settings>
            <setting name="ZLabSDBEntities" serializeAs="String">
                <value>data source=zlabdb.database.windows.net;initial catalog=ZLabSDB;persist security info=True;user id=ZLabDBAdmin;password=JN3_$fGR&amp;5dQ</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>9091</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZLabSDBTestEntities" serializeAs="String">
                <value>Data Source=211.72.174.44;Initial Catalog=ZLabSDB;Persist Security Info=True;User ID=sdb;Password=sdbzlab</value>
            </setting>
            <setting name="subject" serializeAs="String">
                <value>SDB backup password</value>
            </setting>
            <setting name="body" serializeAs="String">
                <value>"Please use the spare password to log in within 24 hours,\nPlease change your password after login\nAlternate password: [{0}]\n</value>
            </setting>
            <setting name="DebugShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>SmartDartBoard@gmail.com</value>
            </setting>
            <setting name="Emailpassword" serializeAs="String">
                <value>sdbzlabdev</value>
            </setting>
            <setting name="smtpAddress" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="portNumber" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="enableSSL" serializeAs="String">
                <value>True</value>
            </setting>
        </Login.Properties.Settings>
    </applicationSettings>
</configuration>
